
<html ng-app="bestDeal" ng-csp>
<head>
    <link rel="stylesheet" href="/css/rightFrame.css">

    <!--<script src="js/lib/jquery-1.8.2.min.js"></script>-->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/dealsController.js"></script>
    <script src="/js/keyWordFinderService.js"></script>
</head>
<body id="frame">

<div ng-controller="DealsController">

    <h2>Page:</h2>

    <h2>Has Links:</h2>
    <ul>
        <li ng-repeat="keyWord in keyWords">
            <div>{{keyWord}}</div>
        </li>
    </ul>
</div>
</body>
</html>