client/.idea/.name
client/.idea/client.iml
client/.idea/encodings.xml
client/.idea/misc.xml
client/.idea/modules.xml
client/.idea/scopes/scope_settings.xml
client/.idea/vcs.xml
client/.idea/workspace.xml

client/*.js
client/Bootstrap/*.js
client/Common/*.js
client/Context/*.js
client/Product/*.js
client/Data/*.js